.App {
  text-align: center;
}
body{
  height:100vh;
  background-color: #282c34;
}
.App-main {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}

.unit {
  width: 3px;
  border: 1px solid white;
  margin-top: auto;
}
.canvas {
  width: 90vw;
  height: 70vh;
  background-color: white;
  margin-top: auto;
}
.footer {
  background-color: #282c34;
  color:white;
}
hr{
  color:white;
  margin: 0px;
}
.field{
  border: 1px solid white;
  width: 90vw;
  height: 800px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  border: solid 2px white;
  border-radius: 4px;
  background:transparent;
  color:white;
  width:50px;
  height: 30px;
  transition: all .4s ease-in-out;
  margin-right: 8px ;
  margin-top: 10px;
}
button:hover{
  border: solid 2px white;
  color:#282c34;
  background-color: white;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
button:focus{
  outline:none;
}
button:active{
  border: solid 2px rgb(199, 198, 198);
  transition: all .4s ease-in-out;
  color:#282c34;
  background-color: rgb(199, 198, 198);
}
header{
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
}
input{
  background-color: transparent;
  resize: none;
  height:20px;
  color:white;
  border-radius: 4px;
  margin-top: 12px;
  border: 1px solid white;
  line-height: 18px;
  min-width: 170px;
  margin-right: 8px;
}
input::placeholder{
  color:white;
  line-height: 18px;
}
input:focus{
  outline-color: #5e9ed6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select{
  width: 200px;
  height: 30px;
  margin-right: 8px;
  border: solid 2px white;
  border-radius: 4px;
  margin-top: 10px;
  color:white;
  background: transparent;
  margin-left: 8px;
}
select:hover{
  cursor: pointer;
}
select::placeholder{
  color:white;
  line-height: 18px;
}
select:focus{
  outline: none;
}
label{
  color:white;

}